.org-header {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0px;
}

/* Media query to kick in at minn with of 992 */
@media only screen and (min-width: 992px) {
	.org-header {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.org-details-container {
		flex-wrap: wrap;
		justify-content: left;
		flex-direction: column;
		position: fixed;
	}
}

.org-details-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.org-details-container .org-avatar {
	width: 200px;
	height: 200px;
	margin-left: 15px;
}

.org-details-container .org-avatar img {
	width: 100%;
	height: 100%;
}
.org-details-container .org-details {
	text-align: left;
	padding: 0px 10px;
}

.org-details-container .org-details p {
	font-size: 0.85rem;
	font-weight: 500;
	margin-bottom: 0px;
}

.org-details-container .org-details .repo-count {
	font-size: 0.7rem;
}
